name: Publish Release

on:
  push:
    tags:
    - 'v*'

jobs:
  build:
    name: Create release from tag
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Ensure version matches tag
        run: |
          version=$(cat ./resources/version.txt)
          if [ "$version" != "$GITHUB_REF_NAME" ]; then
            echo "Version in version.txt ($version) does not match tag ($GITHUB_REF_NAME)."
            exit 1
          fi

      - name: Ensure config passes schema validation
        if: success() || failure()
        shell: pwsh
        run: |
          Import-Module ./resources/JsonValidator.psm1
          $schemaPath = "./config/schema.json"
          $configPath = "./config/conf.example.json"

          Write-Host "Testing config file: $configPath"
          Write-Host "Against schema file: $schemaPath"

          $result = Test-JsonValid -JsonPath "$configPath" -SchemaPath "$schemaPath"

          Write-Host 'Validation result:'
          $result | Format-Table -AutoSize

          if ($result.IsValid -ne $true) {
            Write-Host "Config file does not pass schema validation: $($result.Message)"
            exit 1
          }

      - name: Create release asset
        run: |
          shopt -s extglob
          name="VeeamNotify-$GITHUB_REF_NAME"
          mkdir "$name"
          cp -rv !($name) $name/
          zip -r "$name.zip" "./$name" -x "./$name/.*/*" "./$name/.*" "./$name/*/.gitkeep" "./$name/asset/*" "./$name/tests/*" "./$name/README.md"
          rm -r "$name"

      - name: Publish release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: VeeamNotify-${{ github.ref_name }}.zip
          name: ${{ github.ref_name }}
