---
name: PSScriptAnalyzer

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Update PSScriptAnalyzer
        shell: pwsh
        run: |
          $module = Get-Module -Name PSScriptAnalyzer
          $module | Remove-Module -Force
          $module | Update-Module -Force
          Import-Module -Name PSScriptAnalyzer -Force

      - name: Run PSScriptAnalyzer
        shell: pwsh
        run: |
          $files = Get-ChildItem . -Include *.ps1,*.psm1,*.psd1 -Recurse | Where-Object {$_.Directory.Name -ne 'tests'}
          ./.github/scripts/Run-PSSA.ps1 -Files $files
